:root {
  --text: #081326;
  --background: #f7f9fd;
  --primary: #9ebaeb;
  --secondary: #c0d2f2;
  --accent: #275fbe;
}

* {
  /* font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
}
