:root {
  --text: #120603;
  --background: #fcf2f3;
  --primary: #f4bfc6;
  --secondary: #f3d6da;
  --accent: #f4bfc6;
  --box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
}

* {
  /* font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1,
p,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

body {
  background-image: url("./assets/bg/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.Typewriter {
  display: inline;
}

.Typewriter > *:first-child {
  display: inherit;
  background-image: linear-gradient(
    to right,
    var(--primary, #f4bfc6),
    var(--secondary, #f3d6da)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  background-color: var(--background);
  width: 52px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: thin solid black;
  position: fixed;
  left: 1.25rem;
  top: 0;
  margin: 10px 0px;
  z-index: 1000;
  transition: all 0.3s;
}

/**/

.burger-line {
  width: 30px;
  height: 2px;
  background-color: #000000;
}

.hero-image {
  width: 300px;
  aspect-ratio: 1/1;
}

.card-img-top {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.card {
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border: thin solid var(--accent);
  overflow: hidden;
}

.line-break {
  width: 100%;
  border-top: thin solid grey;
  margin: 1rem 0rem;
  z-index: 2;
}

em {
  font-weight: 300;
  font-style: normal;
}
/* 
.row {
  padding-right: 0 !important;
  padding-left: 0 !important;
} */
