:root {
  --text: #120603;
  --background: #fcf2f3;
  --primary: #f4bfc6;
  --secondary: #f3d6da;
  --accent: #f4bfc6;
  --box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
}

* {
  /* font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1,
p,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

body {
  background-image: url("./assets/bg/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  background-color: var(--background);
  width: 52px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: thin solid black;
  position: fixed;
  left: 1.25rem;
  top: 0;
  margin: 10px 0px;
  z-index: 1000;
  transition: all 0.3s;
}

/**/

.burger-line {
  width: 30px;
  height: 2px;
  background-color: #000000;
}
